*{
box-sizing: border-box;
}
div#wrapper, footer{
margin: auto;
    width: 1000px;
    padding: 20px;
    background-color: rgb(251,235,235);
}
body {
    font-family: "Arial", "sans-serif";
    line-height: 24px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.visuals {
    width: 50%;
    float: left;
}
section.visuals {
    text-align: right;
}
.visual {
    width: 103%;
    height: 98px;
    margin-bottom: 6px;
}
.appel{
    width: 99%;
}
article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}
article:last-child {
    padding-right:0px;
}
img.article {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    background-color: rgb(166,166,166);
}
footer a{
    color: white;
}